<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ "call_for_paper" }}">
  <!-- style="padding-right: 10%;padding-left: 10%;" -->
  <!-- <div class="container" > -->



  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-lg-6">
      <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span> -->
      <h6>19th-25th August 2023 Macao, S.A.R</h6>
      <h4 class="service-heading">
        The First International Workshop on the Future of No-Code Digital Apprentices</h4>
      <p>
        Semi-autonomous digital apprentices are a novel category of digital assistants or workers capable of making
        decisions and taking actions with a certain level of autonomy. These assistants rely on a combination of
        advanced technologies, including natural language processing (NLP), conversational AI, robotic process
        automation, digital process automation, and business rules to function effectively. However, integrating and
        developing these features can be a challenging task that requires the expertise of professional developers,
        leading to high lifecycle costs that limit their implementation to areas with clear returns on investment.
      </p>
      <p>
        In recent years, AI has made significant strides in various domains, including transformers, large language
        models, general AI, multi-modal representations, and generative models such as ChatGPT, Codex, and Adept.AI.
        These advancements have led to remarkable progress in natural language processing, conversation, image
        recognition, code analysis, and digital interaction, which are poised to transform the field of digital
        assistants. With assistants becoming increasingly intelligent and better able to comprehend human work, they
        have the potential to assist human workers in a more extensive range of business tasks while also becoming more
        autonomous. This shift could lead to a significant increase in productivity and efficiency in the workplace.
      </p>
      <p>
        To fully realize the benefits of these advancements, enterprises must ensure that end-users, who lack
        programming expertise, can effectively teach and supervise these assistants. This necessity has led to the
        development of no-code digital apprentices (NCDA), where humans serve as supervisors and machines as
        apprentices. The supervisor’s role is to guide, validate, and teach the apprentice, who, in turn, must
        communicate its learning and identify when it is insufficiently trained for a task and seek guidance from the
        supervisor in such cases. NCDA places the focus on the necessary changes that need to take place in both AI
        technology and human factors to facilitate this kind of interaction. However, NCDA also presents a challenge:
        how to adapt modern AI techniques in the context of NCDA? Although transformer-based models and diffusion models
        receive much attention, both industry and academia have yet to fully understand the necessary changes in
        technology and the human-to-machine interface to enable the successful adoption of NCDA.
      </p>
      <p>
        This workshop aims to unite researchers from different fields, such as programming languages, natural language
        processing, computer vision, knowledge representation, planning, human-computer interaction, and business
        process management. The primary objective is to establish a cross-disciplinary research agenda that will direct
        future work in the field of no-code digital apprentices (NCDA) and the AI-driven revolution in this area. By
        bringing together experts with diverse backgrounds, this workshop seeks to advance our understanding of the
        challenges and opportunities associated with NCDA and to encourage collaboration and innovation across
        disciplines.
      </p>
      <p>
        We invite scientists, practitioners, and students from both academia and industry who share a passion for the
        potential ways in which AI can revolutionize the no-code automation field to participate in and submit their
        original work to this workshop. We encourage contributions that not only enhance NCDA with AI algorithms but
        also utilize their combination to address broader AI challenges. Moreover, we aim to attract individuals from
        research-oriented industrial divisions, such as Microsoft Research, Google Research, IBM Research, Adept.ai, and
        intelligence automation vendors like UiPath and Automation Anywhere. The workshop seeks to foster an open and
        collaborative atmosphere for exploring cutting-edge research and discussing innovative ideas in the field.
      </p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h2 id="important-dates">Important dates</h2>
      <table>
        <tbody>
          <tr>
            <td>Abstract Submission</td>
            <td>May 1, 2023</td>
          </tr>
          <tr>
            <td>Paper Submission Deadline</td>
            <td>May 8, 2023</td>
          </tr>
          <tr>
            <td>Paper Notification</td>
            <td>June 1, 2023</td>
          </tr>
          <tr>
            <td>Workshop</td>
            <td>August 19-21 (TBD), 2023</td>
          </tr>
          <tr>
            <td>Camera Ready</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <p>Topics of interest for submission include, but are not limited to:</p>
      <ul style="padding-right: 100px;">
        <li>Teaching methods for no-code/low-code users</li>
        <li>AI for digital apprentices</li>
        <li>Novel AI approaches for digital automation and robotic process automation</li>
        <li>Natural language processing for digital interaction and action transformers</li>
        <li>Multi-modal-based semantic representation of UI actions</li>
        <li>Multi-modal-based interfaces and human-computer interaction with digital apprentices</li>
        <li>Specification of tasks using prompts and dialogue</li>
        <li>End-user programming, validation, and supervision of AI-based automation systems</li>
        <li>Human-in-the-loop AI, human-AI collaboration, and human-centered AI</li>
        <li>Training and feedback approaches to support end-user customization of work</li>
        <li>Program generation and validation techniques, such as program synthesis</li>
        <li>Training and supervision methods</li>
        <li>AI as a teammate, and digital labor</li>
      </ul>






    

  </div>

    <!-- <div class="col-md-1"></div> -->

    <!-- </div> -->

  </div>
</section>
{% endif %}
<!-- End Services -->