<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ "call_for_paper" }}">
  <!-- style="padding-right: 10%;padding-left: 10%;" -->
  <!-- <div class="container" > -->



  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-lg-6">
      <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span> -->
<!--       <h6>19th-25th August 2023 Macao, S.A.R</h6> -->
      <h4 class="service-heading">
        The First International Workshop on the Future of No-Code Digital Apprentices</h4>
      <p>
        No-code digital apprentices are a category of assistants that end-users, who lack
        programming expertise, can effectively teach, supervise and validate. These assistants are capable of making
        decisions, taking actions with a certain level of autonomy and identify when they are insufficiently trained 
        and seek guidance from the human supervisor in such cases. They rely on a combination of
        advanced technologies, including natural language processing (NLP), conversational AI, robotic process
        automation, digital process automation, and business rules to function effectively. 
      </p>
      <p>
        In recent years, AI has made significant strides in various domains, including transformers, large language
        models, general AI, multi-modal representations, and generative models such as ChatGPT, Codex, HumAIns, Adept, and Auto-GPT.
        These advancements are poised to transform the field of digital assistants as they are becoming increasingly
        intelligent, autonomous, and better able to comprehend human work.
      </p>
      <p>
        This workshop aims to unite researchers from different fields, such as programming languages, natural language
        processing, computer vision, knowledge representation, planning, human-computer interaction, and business
        process management. The primary objective is to establish a cross-disciplinary research agenda that will direct
        future work in the field of no-code digital apprentices and the AI-driven revolution in this area. By
        bringing together experts with diverse backgrounds, this workshop seeks to advance our understanding of the
        challenges and opportunities associated with NCDA and to encourage collaboration and innovation across
        disciplines.
      </p>
      <p>
        We invite scientists, practitioners, and students from both academia and industry who share a passion for the
        potential ways in which AI can revolutionize the no-code automation field to participate in and submit their
        original work to this workshop. We encourage contributions that not only enhance NCDA with AI algorithms but
        also utilize their combination to address broader AI challenges. Moreover, we aim to attract individuals from
        research-oriented industrial divisions, such as Microsoft Research, Google Research, IBM Research, Adept.ai, and
        intelligence automation vendors like UiPath and Automation Anywhere. The workshop seeks to foster an open and
        collaborative atmosphere for exploring cutting-edge research and discussing innovative ideas in the field.
      </p>
      <p>
        <i>* You might also find the Resiliency of Intelligent Automation Systems Challenge interesting. <a href="https://iparesiliency-ijcai23.github.io/">Link</a>
        </i>
        <br>
        <i>* A list of IJCAI23 workshops can be found at </i> <a href="https://ijcai-23.org/workshops/">ijcai-23-workshops</a>
      </p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4" style="padding-right: 2rem;">
      <h1 id="important-dates">Important dates</h1>
      <table>
        <tbody>
          <tr>
            <td>Abstract Submission</td>
            <td>May 18, 2023</td>
          </tr>
          <tr>
            <td>Paper Submission Deadline</td>
            <td>May 22, 2023</td>
          </tr>
          <tr>
            <td>Paper Notification</td>
            <td>June 5, 2023</td>
          </tr>
          <tr>
            <td>Workshop</td>
            <td>August 21, 2023</td>
          </tr>
          <tr>
            <td>Camera Ready</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
      <!-- <br/> -->

  </div>

    <!-- <div class="col-md-1"></div> -->

    <!-- </div> -->

  </div>
</section>
{% endif %}
<!-- End Services -->
