<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ "program" }}">
  <!-- style="padding-right: 10%;padding-left: 10%;" -->
  <!-- <div class="container" > -->



  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-lg-6">
      <h2>Workshop agenda</h2>
      <br/>
      <ul>
<ul>
    <li>08:45 - 09:00 Gathering</li>
    <li>09:00 - 09:10 Opening remarks</li>
    <li>09:10 - 10:00 Keynote - Tutorial: Harnessing AI to automate work: Overview and demos of the latest and greatest in LLM models, framework, and products in the Automation Assistant world. Workshop Chairs</li>
    <li>10:00 - 10:30 Invited talk - Mind2Web: Towards a Generalist Agent for the Web</li>
    <li>10:30 - 11:00 Coffee break</li>
    <li>11:00 - 11:20 Paper 1 - Semantic Parsing for Complex Data Retrieval: Targeting Query Plans vs. SQL for No-Code Access to Relational Databases</li>
    <li>11:20 - 11:40 Paper 2 - Accelerating Chatbot Design: Leveraging Large Language Models for Enhanced Efficiency</li>
    <li>11:40 - 12:20 Keynote: Dr. Martin Hirzel. Title: Low-Code Programming Models</li>
    <li>12:30 - 14:00 Lunch break</li>
    <li>14:00 - 15:30 Paper session</li>
  <ul>
    <li>  Paper 3 - Semantic UI Understanding in the Era of AI</li>
    <li>  Paper 4 - AI-Driven Automation for "Classical" MDP</li>
    <li>  Paper 5 - Enhancing Trust in LLM-Based AI Automation Agents: New Considerations and Future Challenges</li>
  </ul>
    <li>15:30 - 16:00 Coffee break</li>
    <li>16:00 - 16:40 Keynote: Prof. Shen Jiasi. Title: Automating Software Development: Challenges and Solutions</li>
    <li>16:40 - 16:50 Announcement of the Resiliency of Intelligent Automation Systems Challenge winners. <a href="https://iparesiliency-ijcai23.github.io/">Link</a></li>
    <li>16:50 - 17:20 Roundtable - the future of NoCode Digital Automation (4-5 teams)</li>
    <li>17:20 - 17:30 Conclusion</li>
    <li>Social event</li>
</ul>

      </ul>
<h3>Register to the Workshop <a href="https://registration.ijcai.org/auth/login">Here</a> </h3>
    </div>





  </div>

  <!-- <div class="col-md-1"></div> -->

  <!-- </div> -->

  </div>
</section>
{% endif %}
<!-- End Services -->
