<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ "program" }}">
  <!-- style="padding-right: 10%;padding-left: 10%;" -->
  <!-- <div class="container" > -->



  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-lg-6">
      <h2>Workshop agenda (tentative) </h2>
      <br/>
      <ul>
<li>Introduction and opening remarks </li>
<li>Keynote 1 - Tutorial: Harnessing AI to automate work: Overview and demos of the latest and greatest in LLM models, framework and products in the Automation Assistant world. Workshop Chairs</li>
<li>Coffee break</li>
<li>Paper 1 - Semantic Parsing for Complex Data Retrieval: Targeting Query Plans vs. SQL for No-Code Access to Relational Databases</li>
<li>Paper 2 - Accelerating Chatbot Design: Leveraging Large Language Models for Enhanced Efficiency</li>
<li>Coffee break</li>
<li>Keynote 1</li>
<li>Lunch break</li>
<li>Paper 3 - Semantic UI Understanding in the Era of AI	</li>
<li>Paper 4 - AI Driven Automation for "Classical" MDP	</li>
<li>Paper 5 - Enhancing Trust in LLM-Based AI Automation Agents: New Considerations and Future Challenges	</li>
<li>Coffee break</li>
<li>Keynote 2</li>
<li>Coffee break</li>
<li>Announcement of the Resiliency of Intelligent Automation Systems Challenge winners. <a href="https://iparesiliency-ijcai23.github.io/">Link</a></li>
<li>Roundtable - the future of NoCode Digital Automation</li>
<li>Conclusion</li>
<li>Social event </li>
      </ul>

    </div>
    <div class="col-sm-3">
      <ul>
        <li>Register to the Workshop <a href="https://registration.ijcai.org/auth/login">Here</a>  </li>
        </ul>
    </div>





  </div>

  <!-- <div class="col-md-1"></div> -->

  <!-- </div> -->

  </div>
</section>
{% endif %}
<!-- End Services -->
